<h1>New Task</h1>

<%= form_with(model: [@task.project, @task], url: project_tasks_path(@task.project)) do |form| %>
  <%= form.hidden_field :project_id, value: @task.project_id %>
  <% if current_user.admin? %>
    <div class="field">
      <%= form.label :user_id, 'Assign to:' %>
      <%= form.select :user_id, options_for_select(@task.project.members.map{ |member| [member.user.email, member.user.id] }), include_blank: true %>
    </div>
  <% else %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :done %>
    <%= form.check_box :done %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', project_tasks_path(params[:project_id]) %>
