<h1>New Task</h1>

<div class="row">
  <div class="col-md-6">
    <%= form_with(model: [@task.project, @task], url: project_tasks_path(@task.project), class: "mt-4") do |form| %>
      <%= form.hidden_field :project_id, value: @task.project_id %>
      <% if current_user.admin? %>
        <div class="mb-3">
          <%= form.label :user_id, 'Assign to:', class: "form-label" %>
          <%= form.collection_select :user_id, @task.project.members, :user_id, lambda { |member| member.user.email }, { include_blank: true }, { class: "form-select" } %>
        </div>
      <% else %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      <% end %>

      <% if @task.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2 class="alert-heading"><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
          <ul>
            <% @task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :Task, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <h3>
        <%= form.label :done, class: "form-check-label" %>
        <%= form.check_box :done, class: "border form-check-input", id: "done_check" %>
        </h3>
      </div>


      <div class="mb-3">
        <%= form.submit "Save Task", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Back', project_tasks_path(params[:project_id]), class: "btn btn-secondary" %>
