<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>
<p>
  <strong>Done:</strong>
  <%= @task.done ? 'Yes' : 'No' %>
</p>
<p>
  <strong>Project :</strong>
  <%= @task.project.name %>
</p>
<p>
  <strong>Assign to / Created by :</strong>
  <%= @task.user.email %>
</p>

<%= link_to 'Edit', edit_project_task_path(@task.project, @task) %> |
<%= link_to 'Back', project_tasks_path(@task.project) %>
<%= link_to "Destroy this account", project_task_path(@task.project, @task), class: "btn btn-danger btn-block mb-2", style: "display: inline-block;", data: { turbo_method: :delete, "turbo-confirm": "Are you sure you want to delete this Account?" } %>

