
<%- model_class = Project -%>

<div class="page-header">
  <h1><%=t '.name', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:details) %></th>
      <th><%= model_class.human_attribute_name(:expected_completion_date) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.details %></td>
        <td><%= project.expected_completion_date %></td>
        <td>
          <%= link_to t('.edit', default: t("helpers.links.edit")), edit_project_path(project), class: 'btn btn-secondary btn-xs' %>
          <%= link_to 'Show Project', project_path(project), class: 'btn btn-secondary btn-xs' %>
          <%= link_to "Destroy Project", project_path(project), class: "btn btn-xs btn-danger ", data: { turbo_method: :delete, "turbo-confirm": "Are you sure you want to delete this Project?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# TODO:- if plan hit limit new project button will hide %>
<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>