<div id="<%= dom_id artifact %>">

  <p>
    <strong>Project:</strong>
    <%= artifact.project_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= artifact.name %>
  </p>

  <p>
    <strong>File:</strong>
  </p>

    <% if @file.attached? %>
      <% if @file.content_type.start_with?('image') %>
        <%= image_tag @file %>
      <% elsif @file.content_type.start_with?('video') %>
        <video width="80%" height="80%" controls>
          <source src="<%= rails_blob_path(@file) %>" type="<%= @file.content_type %>">
          Your browser does not support the video tag.
        </video>
        <br><%= link_to "Download Video 💾", rails_blob_path(@file, disposition: "attachment"), class: "btn btn-info m-3 ms-0" %>
      <% elsif @file.content_type == 'application/pdf' %>
        <iframe src="<%= rails_blob_path(@file, disposition: "inline") %>" width="100%" height="400"></iframe>
        <%= link_to "Download PDF 💾", rails_blob_path(@file, disposition: "attachment"), class: "btn btn-info m-3 ms-0"%>
        <%= link_to "Show Full PDF🔎", artifact.file, class: "btn btn-info m-3 ms-0" %>
      <% else %>
        <p>Unsupported file type</p>
      <% end %>
    <% else %>
      <p>No file attached</p>
    <% end %>

</div>
