<p style="color: green"><%= notice %></p>

<%= render @artifact %>

<div>
  <%= link_to "Back to artifacts", project_artifacts_path, class: "btn btn-secondary " %>

<% if current_user.admin? %>
  <%= link_to "Edit this artifact", edit_project_artifact_path(@project, @artifact), class: "btn btn-primary me-3" %>
</div>

<div>
  <%= link_to "Destroy this Artifact", project_artifact_path(@artifact.project, @artifact), class: "btn btn-danger  mt-3 mb-5", style: "display: inline-block;", data: { turbo_method: :delete, "turbo-confirm": "Are you sure you want to delete this Artifact?" } %>
</div>
<% end %>