<div id="<%= dom_id account %>" class="card mt-3">
  <div class="card-body">
    <p class="card-text">
      <strong>Name:</strong> <%= account.name %>
    </p>

    <p class="card-text">
      <strong>Subdomain:</strong> <%= account.subdomain %>
    </p>

    <p class="card-text">
      <strong>Domain:</strong> <%= account.domain %>
    </p>

    <p class="card-text">
      <strong>Plan:</strong> <%= account.plan %>
    </p>
  </div>
</div>
