<%= form_with(model: account, class: "row g-3") do |form| %>
  <% if account.errors.any? %>
    <div class="col-md-6" style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <%= form.label :name, class: "form-label", style: "display: block" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= form.label :subdomain, class: "form-label", style: "display: block" %>
      <%= form.text_field :subdomain, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= form.label :domain, class: "form-label", style: "display: block" %>
      <%= form.text_field :domain, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= form.submit "Submit", class: "btn btn-success m-3 ms-0" %>
    </div>
  </div>

<% end %>
